.bg-dark {
    background-color: #fff!important;
}
body{

    background: url(sb.jpg);
    background-size: cover;
}
.card{
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    margin-bottom: 20px;
}
.navbar{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-primary{
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    background: #FF5722;
    outline: none;
    border: none;
}
#submitProject{
    padding-top: 250px;
    height: 100vh;

}
#submitProject button{
    background: white;  
    
    color: black;
    border-radius: 50px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
#content{
    margin-top: 50px;
}
#projectList{
    padding-top: 20px;
}