.bg-dark {
    background-color: #fff!important;
}
body{
    background: url(bg2.jpg);
}
.card{
    margin-top: 7%;
    box-shadow: 2px 2px 2px 2px #424242;
}
.navbar{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn-primary{
    width: 100%;
    padding-left: 30%;
    padding-right: 30%;
    background: #FF5722;
    outline: none;
    border: none;
}
#submitProject{
    padding-top: 10%;
    height: 100vh;
    background: url(sb.jpg);
}